body {
	background-color: rgb(240, 236, 229);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.display-container {
	display: flex;
	min-height: 700px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.display-text-only {
	display: flex;
	padding-top: 20px;
	width: 500px;
	flex-direction: column;
	border-style: ridge;
	border-width: 15px;
	border-color: rgb(165, 150, 127);
	background-color: rgb(244, 233, 219);
	color: rgb(45, 45, 45);
	text-align: center;
}

#text {
	display: flex;
	margin-right: 5%;
	margin-left: 5%;
}

.display-buttons-only {
	display: flex;
	height: 60px;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 10px;
}

button {
	border-style: outset;
	border-color: white;
	border-radius: 5px;
}

button:hover {
	border-style: inset;
}

#favorite-button-pressed {
	border-style: inset;
}

#loading-container {
	display: flex;
	margin-top: 0px;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 500px;
}
